body{
    background-image: url(../imgSrc/background.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    margin: 0;
    width: 100vw;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    font-family: 'Raleway', serif;
}
img {
    max-width: 100%;
}
.fa {
    margin-right: 6px;
}