section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin: 50px 0;
    width: 98%;
    background-color: rgba(255, 255, 255, 0.055);
    border-radius: 20px;
    overflow: hidden;
}

article{
    margin: 10px 0;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 80vw;
    height: 20vh;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    word-break: break-all;
}

section h2{
    margin: 10px;
    color: white;
    font-size: 30px;
}

.close{
    border-radius: 100%;
    font-weight: bolder;
    margin: 5px;
    border: black 1px solid;
    background-color: rgba(255, 255, 255, 0.486);
    height: 40px;
    font-size: 30px;
    width: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: none;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.expande{
    height: 100vh;
    width: 100vw;
    overflow: scroll;
    background-color: rgb(204, 204, 204)
}

.desExpande{
    opacity: 1;
    display: block;
    float: right;
    position: sticky;
    top: 0;
}


/* 
.botao{
    margin: 5px;
    border: 2px solid lightskyblue;
    border-radius: 50px;
    background-color: white;
} */