#planetas {
  position: relative;
  width: 100%;
  height: 375px;
}
.swiper-container {
  width: 100%;
  height: 100%;
  background: #000;
}
.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color:#fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 40px 60px;
}
.parallax-bg {
  background-image: url(../imgSrc/bgdestaque.jpg);
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}
.swiper-slide .planet-img {
  margin-top: 10px;
  font-size: 41px;
  font-weight: 300;
}

.planet-name{
  padding: 10px;
  margin-top: 15px;
  background-color:rgba(255, 255, 255, 0.13);
  border-radius: 35px;
  font-size: 2em;
  color: rgb(255, 255, 255);
  display: flex;
  transform: scale(1);
  transition: 0.5s ease-in-out;
}

.swiper-slide {
  font-size: 14px;
  max-width: 400px;
  line-height: 1.3;
}



/* QUICKINFO-PLANETS */
.didUknow{
  margin: 0;
  width: auto;
}

.planet-img img{
  transform: scale(1);
  transition: 0.5s cubic-bezier(0,-0.64,.76,.6);
  display:  flex;
  margin-top: 10px;
}

.mercury{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;

}

.venus{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.earth{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.mars{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.jupiter{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.saturn{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.uranus{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.neptune{
  justify-content: center;
  display: none;
  align-items: center;
  flex-direction: column;
  width: 100vw;
}

.trianglim-top{
  width: 0; 
  height: 0; 
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  border-bottom: 35px solid rgb(255, 255, 255);
}

.didUknowContent{
  background-color: white;
  border-radius: 10px;
  width: 90%;
  height: auto;
  margin: 0;
  justify-content: start;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.didUknowContent h2{
  font-size: 7vw;
  border-bottom: black solid 2px;
  margin: 5px 10px;
}

.didUknowContent span{
  font-size: 10vw;
}

.didUknowContent button{
  background-color: rgba(116, 116, 116, 0.445);
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.numero{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: rgba(87, 87, 156, 0.459);
  font-size: 10vw;
  margin: 0;
}

.fatos{
  justify-content: start;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 95%;
  border-bottom: rgb(153, 134, 108) solid 2px;
  margin: 10px 0;
  height: 65vw;
}

.fatos .numero{
  border: 0;
}

.fatos .titulo{
  border: 0;
  font-size: 5vw;
  margin: 10px;
}

.fatos p{
  margin: 0 0 20px;
  font-size: 5vw;
}


.didUknow{

  transform: translateY(-100%);
  transition: 0.5s ease-out;
  display: flex;
}

.aparece{
  transform: translateY(0%);
  transition: ease-out 0.5s;
  display: flex;
}
/* ----------------- */