.navsinha{
    top: 0;
    left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: #0F0F11;
    width: 100vw;
    height: 65px;
    position: fixed;
}

.nomeIcone{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nomeIcone h1{
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-size: 30px;
    margin: 0;
}

.barra1, .barra2, .barra3{
    height: 5px;
    margin: 5px 0;
    width: 35px;
    background-color: rgb(223, 223, 223);
    transition: 0.4s;
}

.mudar .barra1{
    transform: rotate(-45deg) translate(-8px, 6px);
}

.mudar .barra2{
    opacity: 0;
}

.mudar .barra3{
    transform: rotate(45deg) translate(-8px, -7px);
}